export RABBITMQ_HOST=localhost
export RABBITMQ_PORT=5672
export RABBITMQ_USER=guest
export RABBITMQ_PASS=guest
export RABBITMQ_REQUESTS_QUEUE_NAME=watermark-requests
export RABBITMQ_RESULTS_EXCHANGE=picturas.tools
export RABBITMQ_RESULTS_ROUTING_KEY=results
export PICTURAS_LOG_LEVEL=INFO
export PICTURAS_MS_NAME=picturas-watermark-tool-ms
export PICTURAS_NUM_THREADS=4
export PICTURAS_WATERMARK_IMAGE_PATH=./watermark.png
